@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

:root {
  --primary: #0d0e0e;
  --secondary: #f7e05f;

  --textColor: rgb(45, 45, 45);
  --textColorHeading: rgb(36, 36, 36);
  --textColorTitle: rgb(26, 26, 26);

}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*::selection {
  background: #FCDF3E;
  color: #0D0E0E;
}



.posts {
  width: 100%;
  max-width: 1100px;
  padding: 0rem 3.2rem;
  margin: 10rem auto;
}

.hero {
  min-height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.hero__left {
  color: var(--textColor);
  /* border: 2px solid blue; */
  /* margin-top: 15rem; */
  /* margin-left: 6.5rem; */
}

.hero__left h1 {
  margin-top: 3rem;
  font-size: 8rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--textColorTitle);
}


.hero__left p {
  font-size: 2.5rem;
  margin-bottom: 4.5rem;
  font-weight: 200;
  line-height: 1.13;
  text-align: center;
}



.hero__right img {
  margin: auto;
  width: 100%;
  object-fit: cover;
  padding: 2rem;
}






.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  max-width: 70rem;
  border-radius: 8px;
  color: var(--textColor);
  margin: 8rem auto;
  padding: 0 1.5rem;
}

.search input {
  width: 91%;
  height: 5rem;
  padding: 20px 12px 20px 5%;
  font-size: 2rem;
  outline: none;
  border: none;
}

.search svg {
  color: var(--textColor);
}



/* posts */

.post {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--textColorHeading);
  padding-bottom: 3rem;
}


@media screen and (max-width: 760px) {

  .post {
    grid-template-columns: 1fr;
  }
}



.post__left__upper {
  margin-bottom: 1rem;
}


.post__left__upper p {
  font-size: 2rem;
  color: var(--textColorHeading);
}



.post__left__lower h2 {
  font-size: 4rem;
  color: var(--textColorHeading);
}

.post__left__lower div {
  display: flex;
  gap: 0.5rem;
}

.post__left__lower div h3 {
  margin-top: 0.8rem;
  font-size: 2.4rem;
  color: var(--textColorHeading);
  font-weight: 500;
}


.post__left__lower p {
  margin-top: 3rem;
  font-size: 2.2rem;
  color: var(--textColor);
  margin-bottom: 4rem;
  font-weight: 300;
}

.post__left__lower a {
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--textColorHeadingr);
}



.post__right {
  display: flex;
  align-items: flex-start;
  margin-top: 5rem;
}

.post__right img {
  width: 100%;
  object-fit: cover;
}