@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

:root {
  --primary: #0d0e0e;
  --secondary: #f7e05f;

  --textColor: rgb(45, 45, 45);
  --textColorHeading: rgb(36, 36, 36);
  --textColorTitle: rgb(26, 26, 26);

}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

*::selection {
  background: #FCDF3E;
  color: #0D0E0E;
}



.posts {
  width: 100%;
  max-width: 1100px;
  padding: 0rem 3.2rem;
  margin: 6rem auto;
}






.hero {
  margin-top: 2rem;
  padding-block: 2rem;
  background-color: white;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "title""illustration";
}

.hero__left {
  color: var(--textColorTitle);
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: title;
}

.hero__left h1 {
  font-size: 7rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}


.hero__left p {
  color: var(--textColorHeading);
  font-size: 2.5rem;
  margin-bottom: 4.5rem;
  font-weight: 200;
  line-height: 1.13;
  text-align: center;
}



.hero__right {
  grid-area: illustration;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero__right img {
  margin-top: 5rem;
  max-width: 450px;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 760px) {

  .hero {
    grid-template-columns: 1fr;
    grid-template-areas: "title""illustration";

  }

}


@media screen and (max-width: 550px) {

  .wrraper {
    padding: 2rem 2.2rem;
  }

  .hero__left h1 {
    font-size: clamp(3rem, 13.4vw, 6rem);
    margin-top: clamp(3rem, 10.4vw, 6rem);
  }

  .hero__left p {
    font-size: clamp(1.8rem, 5.5vw, 2.5rem);
    margin-bottom: clamp(3rem, 10.4vw, 6rem);
  }

}









.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  max-width: 70rem;
  border-radius: 8px;
  color: var(--textColor);
  margin: 8rem auto;
  padding: 0 1.5rem;
  gap: 2rem;
}

.search input {
  width: 91%;
  height: 5rem;
  font-size: 2rem;
  outline: none;
  border: none;
}

.search svg {
  color: var(--textColor);
}






@media screen and (max-width: 550px) {

  .search {
    gap: 1rem;
  }

  .search input {
    font-size: 1.5rem;
    height: 4rem;

  }

  .search svg {
    width: 20px;
  }
}









/* posts */

.post {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



.post__left__upper {
  margin-bottom: 1rem;
  padding: 1rem;

}


.post__left__upper p {
  font-size: 2rem;
  color: var(--textColorHeading);
}

.post__left__lower {
  padding: 1rem;
}

.post__left__lower h2 {
  font-weight: 400;
  font-size: 3rem;
  color: var(--textColorHeading);
}

.post__left__lower div {
  display: flex;
  gap: 0.5rem;
}

.post__left__lower div h3 {
  margin-top: 0.8rem;
  font-size: 2.4rem;
  color: var(--textColorHeading);
  font-weight: 500;
}


.post__left__lower p {
  margin-top: 1em;
  font-size: 1.6rem;
  color: var(--textColor);
  margin-bottom: 2em;
  font-weight: 300;
}

.post__left__lower a {
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--textColor);
}



.post__right {
  display: flex;
  align-items: flex-start;
  margin-top: 5rem;
}

.post__right img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 760px) {

  .post {
    grid-template-columns: 1fr;
  }

}


@media screen and (max-width: 550px) {



  .home__post__title {

    font-size: clamp(3rem, 9.4vw, 5rem);
    margin-top: clamp(1rem, 4.4vw, 5rem);
    margin-bottom: 2rem;
  }

  .post {
    margin-top: clamp(5rem, 10.4vw, 10rem);
  }

  .post__left__lower h2 {
    font-size: clamp(1.5rem, 5.4vw, 3rem);
  }

  .post__left__lower div h3 {
    font-size: clamp(1.3rem, 4.2vw, 2.4rem);
  }

  .post__left__lower p {
    font-size: clamp(1.4rem, 2.2vw, 1.6rem);
  }

  .post__left__lower a {
    font-size: clamp(1.3rem, 4.2vw, 2.4rem);
  }


  .post__right {
    margin-top: 1rem;
  }
}